<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{lang:}" lang="{lang:}">

  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="Author" content="Thomas Leitner - t_leitner@gmx.at" />

    <link rel="stylesheet" href="{relocatable: default.css}" type="text/css" />

    <title>kramdown - Markdown converter - {title:}</title>

  </head>

  <body>
    <!-- header starts here -->
    <div id="header"><div id="header-content">

      <h1 id="logo">kramdown</h1>
      <h2 id="slogan">fast, pure Ruby Markdown converter</h2>

      <!-- Menu Tabs -->
      {menu: {used_nodes: files, start_level: 1, max_levels: 1}}

    </div></div>

    <!-- content-wrap starts here -->
    <div id="content-wrap"><div id="content">

      <div id="sidebar" >

        <% if !node.children.empty? %>
        <h1>Contents</h1>
        <% end %>

        {menu: {used_nodes: fragments, min_levels: 4, max_levels: 6}}

      </div>

      <div id="main">

        <webgen:block name="content" />

      </div>

      <!-- content-wrap ends here -->
    </div></div>

    <!-- footer starts here -->
    <div id="footer"><div id="footer-content">

      <div class="col float-left">
        <h2>Links</h2>
        <ul>
          <li><a href="http://rubyforge.org/projects/kramdown">kramdown project page on Rubyforge</a></li>
          <li><a href="http://rubyforge.org/frs/?group_id=7403">kramdown downloads</a></li>
        </ul>
      </div>

      <div class="col2 float-right">
        <p>
          &copy; 2008 Thomas Leitner | generated by <a href="http://webgen.rubyforge.org">webgen</a><br />
          Design based on Ablaze 2.1 by <a href="http://www.styleshout.com/">styleshout</a><br />
          Block quote icons originally by <a href="http://fullahead.org/">Fullahead</a><br />
          Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
          <a href="http://validator.w3.org/check/referer">XHTML</a>
        </p>

        <p>Page last changed at: {modified_at:}</p>
      </div>

    </div></div>
    <!-- footer ends here -->

  </body>
</html>
